a {
  font-size: xx-large;
  color: white;
  text-decoration: none;
}

.all-link {
  border: 2px outset orange;
  background-color: orange;
  padding: 7px;
}

.all-container {
  margin: 15px;
}

.link {
  color: orange;
  text-decoration: underline;
}

a[href="#"] {
  color: white;
  text-decoration: none;
}

.container {
  padding: 5px;
  margin-top: 10px;
  line-height: 1;
  margin-top: 10px;
  margin: 10px auto;
}
